* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#jankenKing {
    width: 100%;
}

#jankenKingBG {
    width: 100%;
    height: 99.5vh;
    margin: 0 auto;
}

#jankenMain,
#jankenShuffle,
#jankenResult,
#jankenPlayer {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99.5vh;
}

.d_none {
    display: none!important;
}
.d_block {
    display: block!important;
}

#button {
    display: none;
    text-align: center;
    z-index: -9999;
}

